@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Staatliches", "Josefin Sans";
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --color__principal: #ff0040;
  --color__oscuro: #1b1b1b;
  --color__parrafos: #303030;
  --sombra: 1px 1px 12px 1px #30303034;
  --color__texto: #0c0c27;
  --color__fondo: #f8f6ff;
}

/*REUTILIZAR*/

.container {
  max-width: 105rem;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.wave__2{
  position: absolute;
  width: 100%;
  top: 0;
}

.tema {
  font-size: 8rem;
  color: var(--color__principal);
  margin: 0 0 1rem 0;
}

.texto__tema {
  color: white;
  font-size: 1.9rem;
}

.separador {
  padding-bottom: 12rem;
}

.color__azul {
  background-color: var(--color__texto);
  height: auto;
}

/*BOTONES*/

button {
  outline: none;
  cursor: pointer;
  border: none;
  margin: 0;
  font-size: 1.8rem;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  border-radius: 50rem;
  overflow: hidden;
  background: var(--color__texto);
  color: ghostwhite;
  padding: 1rem 1.5rem;
}

button span {
  position: relative;
  z-index: 10;
  font-size: 1.8rem;
  transition: color 0.4s;
}

button:hover span {
  color: white;
  font-weight: lighter;
  font-size: 1.8rem;
}

button:hover .boton__azul {
  color: var(--color__principal);
  font-weight: lighter;
  font-size: 1.8rem;
}

button::before,
button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: 0;
}

button::before {
  content: "";
  background: var(--color__principal);
  width: 130%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
  transform: translate3d(100%, 0, 0);
}

/*header*/

header {
  height: 100vh;
  position: relative;
}

.cont__header {
  padding-top: 20rem;
  display: grid;
  grid-template-columns: 36% 57%;
  gap: 5rem;
  justify-content: center;
}

.cont__header .imagen__header {
  display: flex;
  justify-content: center;
}

.cont__header .imagen__header img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 0.6rem;
}

.saludo {
  color: var(--color__principal);
  font-style: normal;
  font-size: 5.5rem;
}

.text__header .nombre {
  margin: 0;
  color: var(--color__texto);
  font-size: 5.5rem;
  font-style: normal;
}

.cont__header .text__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text__header h2 {
  font-size: 3rem;
  margin: 0;
  font-weight: lighter;
}

.text__header p {
  font-size: 1.8rem;
}

.barra__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease 0.3s all;
  padding: 4.4rem 14rem;
  z-index: 100;
}
.barra__nav.abajo {
  background: white;
  padding: 0.5rem 13rem;
  box-shadow: 0px 0px 5px 1px #dddcdca9;
}

.barra__nav .logo {
  position: relative;
  color: var(--color__texto);
  font-weight: lighter;
  transition: ease 0.1s all;
  text-decoration: none;
  font-size: 4rem;
}
.logo__color {
  color: var(--color__principal);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra__nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra__nav ul li {
  list-style: none;
}

.barra__nav ul li a {
  position: relative;
  margin-left: 2rem;
  text-decoration: none;
  color: var(--color__texto);
  font-weight: lighter;
  /* transition: ease 0.2s all; */
  font-size: 2.3rem;
}

.barra__nav ul li a:hover {
  color: var(--color__principal);
}

.barra__nav ul li a:last-of-type {
  margin-right: 0;
}

.barra__nav.abajo .logo,
.barra__nav.abajo ul li a {
  color: var(--color__texto);
}

.barra__nav.abajo ul li a:hover {
  color: var(--color__principal);
}

.barra__nav ul li a.seccion {
  color: var(--color__principal);
  border-bottom: 2px solid var(--color__principal);
}

/*Sobre mi*/

.imagen__about__us img {
  width: 100%;
  height: 100%;
}

.cont__about__us {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 65% 30%;
  gap: 5%;
}

/*portfolio*/

.portafolio p {
  padding: 0rem 0rem 2rem 0rem;
  margin: 0;
}

.portafolio .tarjeta {
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 2rem;
  grid-template-rows: auto;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  color: white;
}

.tarjeta h3 {
  font-size: 2.2rem;
  font-weight: lighter;
  margin: 0 0 2rem 0;
}

.tarjeta .descripcion__tarjeta {
  padding: 0;
  font-size: 2.2rem;
}

.tarjeta .imagen__tarjeta img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.botones__juntos {
  display: flex;
  margin-top: 1.8rem;
}

.enlace a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  margin-right: 3rem;
}

/*tecnologias*/

.tecnologias {
  position: relative;
}

.cont__tecnologias {
  display: grid;
  grid-template-columns: 55% 60%;
  grid-template-rows: auto;
  gap: 6rem;
}

.imagenes__tecnologias {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-auto-rows: 45%;
  row-gap: 2rem;
  column-gap: 2rem;
}

.box__tecno {
  text-align: center;
  background-color: rgba(110, 110, 110, 0.281);
  padding: 1rem;
  border-radius: 0.6rem;
  color: white;
  cursor: pointer;
}

.box__tecno h3 {
  margin: 0;
  font-weight: lighter;
  font-size: 2rem;
}

.box__tecno img {
  width: 80%;
  height: 80%;
}

.box__tecno:hover {
  background: rgba(88, 88, 88, 0.301);
}

/*alertas*/

.swal-modal {
  background-color: white;
}

.swal-icon img {
  width: 25rem;
}

.swal-modal .swal-button {
  background-color: var(--color__principal);
  font-size: 2rem;
  font-weight: lighter;
  border: none;
  color: white;
  transition: all 0.3s ease;
  border-radius: 50rem;
}

.swal-modal .swal-button:hover {
  background-color: var(--color__texto);
  color: white;
}

.swal-text {
  text-align: center;
  color: var(--color__parrafos);
  font-size: 2rem;
}

.swal-title {
  color: var(--color__parrafos);
  font-size: 4rem;
}

.swal-footer {
  text-align: center;
}

.swal-modal .swal-button::before {
  background-color: #ff0040;
  width: 0%;
}

/*Contacto*/

.cont__contacto {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50rem;
  align-items: center;
  justify-content: center;
}

.imagen__contacto {
  margin: 4rem;
}

.imagen__contacto img {
  width: 100%;
}

form {
  width: 100%;
}

.formulario p {
  color: var(--color__texto);
}

form input {
  padding: 1rem;
  border-radius: 0.6rem;
  animation: none;
  border: 1px solid #d8d8d8;
  touch-action: none;
  outline: none;
  width: 50%;
  margin-right: 1rem;
}

form input:last-of-type {
  margin: 0;
}

.inputs {
  display: flex;
}

textarea {
  outline: none;
  resize: none;
  border: 1px solid rgb(216, 216, 216);
  padding: 1rem;
  border-radius: 0.6rem;
  margin-top: 1rem;
  width: 100%;
  height: 15rem;
}

form button {
  margin-top: 2rem;
}

.contacto__personal {
  margin-top: 5rem;
  position: relative;
  padding-bottom: 20rem;
}

.contacto__personal p {
  color: var(--color__texto);
  font-size: 2.2rem;
  text-align: center;
}

.contactos {
  display: flex;
  justify-content: center;
}

.contactos a button {
  width: 6rem;
  height: 6rem;
  text-align: center;
  margin: 2rem;
}

/*footer*/

footer {
  background-color: var(--color__texto);
  height: 17vh;
}

footer .cont__footer {
  text-align: center;
  color: white;
}

.cont__footer p {
  margin: 0;
  font-size: 2.2rem;
}

.barra__ico__nav {
  position: fixed;
  pointer-events: none;
  opacity: 0;
}

.barra__ico__nav .ico__sect__name .name__ico {
  color: white;
  opacity: 0;
}

.barra__ico__nav .ico__sect__name .icono {
  color: white;
  opacity: 0;
}

.alto{
  padding-top: 23rem;
}

.contacto__sect{
  margin-top: 0;
  padding-top: 15rem;
}

/*responsive*/

@media screen and (max-width: 1100px) {
  header {
    height: 58rem;
  }

  .saludo {
    font-size: 5rem;
  }

  .text__header .nombre {
    font-size: 5rem;
  }

  .cont__header {
    padding-top: 14rem;
    grid-template-columns: 30% 67%;
    gap: 3%;
    grid-template-rows: 33rem;
  }

  .cont__header .imagen__header img {
    height: 33rem;
    width: 25rem;
  }

  .cont__header .imagen__header {
    display: block;
  }

  .barra__nav {
    padding: 4.4rem 5.5rem;
  }

  .container {
    max-width: 90%;
  }

  .about__us {
    height: 50%;
  }

  .portafolio h2 {
    padding-top: 1rem;
  }

  .portafolio {
    height: auto;
    margin-top: 0rem;
  }

  .tema {
    font-size: 6rem;
  }

  .tecnologias {
    height: 60rem;
    padding-top: 5rem;
  }

  .contacto__personal {
    height: 50rem;
  }

  .separador {
    padding-bottom: 5rem;
  }

}

@media screen and (max-width: 938px) {
  .text__header .nombre {
    font-size: 4.3rem;
  }

  .saludo {
    font-size: 4.3rem;
  }

  .contacto__sect{
    margin-top: 0;
    padding-top: 10rem;
  }
}

@media screen and (max-width: 932px) {
  .tema {
    font-size: 6rem;
  }

  .barra__nav {
    padding: 2rem 6rem;
  }

  .cont__header {
    padding-top: 4rem;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50rem;
    justify-content: center;
    align-items: center;
  }

  .cont__header .imagen__header {
    margin: 1rem;
  }

  .cont__header .imagen__header img {
    height: 100%;
    width: 100%;
    /* object-fit: cover;  */
  }

  .saludo {
    font-size: 3.7rem;
  }

  .text__header .nombre {
    font-size: 3.7rem;
  }

  .barra__nav.abajo {
    padding: 2rem 6rem;
  }

  .cont__about__us {
    grid-template-columns: 54% 37%;
    gap: 7rem;
    align-items: center;
  }

  .portafolio .tarjeta {
    grid-template-columns: 50% 50%;
  }

  .contacto__personal {
    height: 45rem;
  }

  .cont__header .imagen__section .img{
     border-radius: 0.1rem;
  }
}

@media screen and (max-width: 830px) {
  .container {
    max-width: 90%;
  }

  .texto__tema {
    font-size: 1.8rem;
  }

  .cont__header {
    grid-template-columns: 40% 60%;
  }

  .cont__header .imagen__header img {
    width: 100%;
    height: 100%;
  }

  .text__header h2 {
    font-size: 2.5rem;
  }

  .cont__about__us {
    gap: 6rem;
  }

  .portafolio .tarjeta {
    grid-template-columns: 50% 48%;
    gap: 2%;
  }

  .text__tarjeta {
    text-align: center;
  }

  .text__tarjeta h3 {
    font-size: 2rem;
  }

  .text__tarjeta .descripcion__tarjeta {
    font-size: 2rem;
  }

  .imagen__tarjeta {
    height: 23rem;
  }

  .imagen__tarjeta img {
    object-fit: cover;
    border-radius: 0.3rem;
  }

  .enlace {
    margin-left: 2rem;
  }

  .enlace a button span {
    font-size: 1.5rem;
  }

  .boton__azul {
    font-size: 1.5rem;
  }

  .cont__tecnologias {
    grid-template-columns: 55% 45%;
    align-items: center;
    gap: 5rem;
  }

  .tecnologias {
    padding-top: 0;
    height: 50rem;
  }

  .imagenes__tecnologias {
    grid-template-columns: repeat(2, 40%);
    gap: 1rem;
  }

  button:hover .boton__azul {
    color: var(--color__principal);
    font-weight: lighter;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 785px) {
  header {
    height: 85rem;
  }

  .barra__nav {
    padding: 1rem 3rem;
  }

  .barra__nav.abajo {
    padding: 1rem 3rem;
  }

  .texto__tema {
    font-size: 1.9rem;
  }

  .cont__header {
    display: block;
    padding-top: 10rem;
  }

  .cont__header .imagen__header img {
    width: 35rem;
    height: 35rem;
  }

  .cont__header .imagen__header {
    display: flex;
    justify-content: center;
  }

  .text__header {
    text-align: center;
  }

  .about__us {
    height: 30rem;
  }

  .cont__about__us {
    display: block;
  }

  .cont__about__us .text__about__us {
    text-align: center;
  }

  .cont__about__us .imagen__about__us {
    width: 40%;
    position: fixed;
    opacity: 0;
  }

  .portafolio {
    margin-top: 6rem;
  }

  .port__sect{
    margin-top: 0;
  }

  .portafolio h2 {
    text-align: center;
  }

  .portafolio p {
    text-align: center;
  }

  .tarjeta .imagen__tarjeta {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
  }

  .tarjeta .imagen__tarjeta img {
    width: 100%;
  }

  .tarjeta .text__tarjeta {
    text-align: left;
    margin: 2rem auto;
  }

  .tarjeta .text__tarjeta h3 {
    font-size: 1.9rem;
  }

  .tarjeta .text__tarjeta .descripcion__tarjeta {
    text-align: left;
    font-size: 1.9rem;
  }

  .enlace {
    margin-left: 0;
  }

  .tecnologias {
    /* margin-top: 40rem; */
    height: 67rem;
  }

  .cont__tecnologias {
    display: block;
    text-align: center;
  }

  .text__tecnologias {
    padding-bottom: 5rem;
  }

  .imagenes__tecnologias {
    grid-template-columns: repeat(4, 24%);
    justify-content: center;
  }

  .cont__contacto {
    display: flex;
    flex-direction: column-reverse;
    height: 123vh;
  }

  .cont__contacto .imagen__contacto img {
    width: 55%;
    margin: auto;
  }

  .cont__contacto .imagen__contacto {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .contacto__personal {
    height: 45rem;
  }
}

@media screen and (max-width: 784px) {
  .tarjeta .imagen__tarjeta {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
  }

  .cont__contacto {
    height: 70rem;
  }

  .contacto__personal {
    height: 45rem;
    margin-top: 2;
  }

  .imagenes__tecnologias {
    grid-template-columns: repeat(4, 20%);
  }
}

@media screen and (max-width: 736px) {
  .cont__header .imagen__header {
    display: flex;
    justify-content: center;
  }

  .cont__header .imagen__header img {
    width: 28rem;
    height: 28rem;
  }

  header {
    height: 73rem;
  }

  .text__header .nombre {
    font-size: 4.5rem;
  }

  .saludo {
    font-size: 4.5rem;
  }

  .portafolio {
    height: auto;
  }

  .portafolio .tarjeta {
    grid-template-columns: 45% 50%;
  }

  .separador {
    padding-bottom: 1rem;
  }

  .tecnologias {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 700px) {
  nav {
    position: fixed;
    width: 0rem;
    opacity: 1;
    right: -100rem;
    pointer-events: none;
  }

  .cont__header {
    padding-top: 1rem;
  }

  .barra__nav {
    justify-content: center;
    padding-top: 2rem;
    position: inherit;
  }

  .barra__nav.abajo {
    position: inherit;
    box-shadow: none;
  }

  .barra__ico__nav {
    opacity: 1;
  }

  .barra__ico__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0rem;
    background-color: white;
    z-index: 1000;
    box-shadow: 1px 1px 10px 1px rgba(184, 184, 184, 0.411);
    pointer-events: inherit;
  }

  .barra__ico__nav .ico__sect__name .name__ico {
    color: var(--color__texto);
    opacity: 1;
  }

  .barra__ico__nav .ico__sect__name .icono {
    color: var(--color__texto);
    opacity: 1;
  }

  .ico__sect__name {
    padding: 1rem 5% 1rem 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .ico__sect__name .name__ico {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--color__texto);
  }

  .ico__sect__name .icono {
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--color__texto);
  }

  .barra__ico__nav .ico__sect__name .seccion {
    color: var(--color__principal);
  }

  footer {
    height: 30vh;
  }
}

@media screen and (max-width: 698px) {
  .tecnologias {
    height: 77rem;
  }

  .portafolio {
    height: auto;
  }

  .cont__port .target .tarjeta {
    grid-template-columns: 50% 50%;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 645px) {
  .tarjeta .imagen__tarjeta img {
    height: 15rem;
  }

  .tarjeta .imagen__tarjeta {
    height: 15rem;
  }

  .tarjeta {
    align-items: center;
  }

  .cont__port .target .tarjeta {
    height: auto;
    display: block;
    padding: 0.5rem;
  }

  .cont__port .target .tarjeta .imagen__tarjeta {
    height: 32rem;
  }

  .cont__port .target .tarjeta .imagen__tarjeta img {
    height: 30rem;
    
  }

  .cont__port .target .tarjeta .text__tarjeta {
    padding: 2rem;
  }

  .target {
    /* border: solid rgba(175, 175, 175, 0.336) 1px; */
    border-radius: 1rem;
    box-shadow: 0px 0px 7px 0px #010113a2;
    width: 97%;
    margin: auto;
    transition: ease .2s all;
  }

  .target:hover{
    transform: translateY(-1rem);
  }

  .tecnologias{
    margin-top: 6rem;
  }
}

@media screen and (max-width: 606px) {
  .imagenes__tecnologias {
    grid-template-columns: repeat(2, 40%);
  }

  .tecnologias {
    height: 100rem;
  }

  .portafolio {
    height: auto;
  }

  .cont__port .target .tarjeta {
    height: auto;
    display: block;
  }

  .cont__port .target .tarjeta .imagen__tarjeta {
    height: 32rem;
  }

  .cont__port .target .tarjeta .imagen__tarjeta img {
    height: 30rem;
  }
}

@media screen and (max-width: 552px) {
  .cont__port .target .tarjeta {
    display: block;
    margin: 0;
  }

  .cont__port .target .tarjeta .imagen__tarjeta img {
    height: 30rem;
    width: 100%;
  }

  .cont__port .target .tarjeta .imagen__tarjeta {
    height: 30rem;
    width: 100%;
  }

  .cont__port .target {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 541px) {
  .cont__port .target .tarjeta {
    display: block;
    margin: 0;
  }
  .cont__header .imagen__header img {
    width: 27rem;
    height: 27rem;
    transition: ease .2s all;
  }

  .cont__header .imagen__header {
    padding-bottom: 2.5rem;
  }

  .tecnologias {
    height: 95rem;
  }

  .imagenes__tecnologias {
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
  }

  header {
    height: 80rem;
  }

  .portafolio {
    height: auto;
  }
}

@media screen and (max-width: 589px) {
  .about__us {
    height: 33rem;
  }
}

@media screen and (max-width: 518px) {
  .text__header .nombre {
    font-size: 4rem;
    max-width: 100%;
  }

  .saludo {
    font-size: 4rem;
    max-width: 100%;
  }

  button span{
    font-size: 2rem;
  }

  button .boton__azul{
    font-size: 2rem;
  }

  .enlace button span .boton__azul{
    font-size: 2rem;
  }

  button:hover span {
    font-size: 2rem;
  }  

  button:hover .boton__azul {
    font-size: 2rem;
  }  
}

@media screen and (max-width: 489px) {
  .about__us {
    height: 36rem;
  }
}

@media screen and (max-width: 482px) {
  .tarjeta .imagen__tarjeta img {
    height: 23rem;
  }

  .tarjeta .imagen__tarjeta {
    height: 23rem;
  }
}

@media screen and (max-width: 456px) {
  .text__header .nombre {
    font-size: 3.5rem;
    max-width: 100%;
  }

  .saludo {
    font-size: 3.5rem;
    max-width: 100%;
  }

  .text__header p {
    font-size: 1.7rem;
  }

  header {
    height: 77rem;
  }

  .cont__port .target .tarjeta .imagen__tarjeta img {
    height: 20rem;
  }

  .cont__port .target .tarjeta .imagen__tarjeta {
    height: 20rem;
  }

  .portafolio {
    height: auto;
  }

  /* .portafolio .cont__port .tarjeta h3 {
    text-align: center;
  }

  .portafolio .cont__port .tarjeta .descripcion__tarjeta {
    text-align: center;
  } */
/* 
  .botones__juntos {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .enlace {
    margin-bottom: 2rem;
  }

  .enlace a {
    margin: 0;
  } */
}

@media screen and (max-width: 432px) {
  .portafolio {
    margin-top: 10rem;
    height: auto;
  }

  .port__sect{
    margin-top: 0;
  }

  .portafolio .container p {
    padding-bottom: 0rem;
  }

  .tecnologias {
    margin-top: 33rem;
  }
}

@media screen and (max-width: 424px) {
  header {
    height: 80rem;
  }

  .about__us {
    height: 40rem;
  }

  .tecnologias {
    margin-top: 1rem;
  }

  .portafolio {
    margin-top: 2rem;
  }

  .portafolio .cont__port .tarjeta h3 {
    text-align: center;
  }

  .portafolio .cont__port .tarjeta .descripcion__tarjeta {
    text-align: center;
  }

  .botones__juntos {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .enlace {
    margin-bottom: 2rem;
  }

  .enlace a {
    margin: 0;
  }

  .port__sect{
    margin-top: 0;
  }
}

@media screen and (max-width: 414px) {
  .portafolio {
    margin-top: 5rem;
    height: auto;
  }

  .tecnologias {
    margin-top: 1rem;
  }

  .port__sect{
    margin-top: 0;
  }
}

@media screen and (max-width: 374px) {
  header {
    height: 83rem;
  }

  .text__header h1 {
    height: 5rem;
  }

  .saludo {
    font-size: 3.2rem;
  }

  .text__header .nombre {
    font-size: 3.2rem;
  }

  .text__header h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .text__header p {
    font-size: 1.8rem;
  }

  .tema {
    font-size: 5rem;
  }

  .texto__tema {
    font-size: 1.8rem;
  }

  .portafolio {
    margin-top: 1rem;
    height: auto;
  }

  .portafolio .tarjeta .imagen__tarjeta img {
    height: 18rem;
  }

  .portafolio .tarjeta .imagen__tarjeta {
    height: 18rem;
  }

  .imagenes__tecnologias {
    grid-template-columns: repeat(2, 47%);
  }

  .inputs {
    display: block;
    width: 100%;
  }

  .inputs input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .contacto__personal {
    height: 70vh;
  }

  .port__sect{
    margin-top: 0;
  }
}

@media screen and (max-width: 361px) {
  .cont__header .text__header h1 {
    height: 10rem;
  }

  .saludo {
    font-size: 3.5rem;
    width: 27rem;
    margin: auto auto;
  }

  .text__header .nombre {
    font-size: 3.5rem;
    width: 27rem;
    margin: auto auto;
  }

  header {
    height: 90rem;
  }

  .portafolio {
    height: auto;
  }

  header .cont__port .imagen__header img:hover{
      border-radius: 1rem;
  }

  .port__sect{
    margin-top: 0;
  }
}

@media screen and (max-width: 300px) {
  header {
    height: 145vh;
  }

  .cont__header .imagen__header img {
    width: 20rem;
    height: 20rem;
  }

  .cont__header .text__header h1 {
    height: 10rem;
  }

  .text__header h2 {
    font-size: 2rem;
  }

  .tema {
    font-size: 3.5rem;
  }

  .texto__tema {
    font-size: 1.7rem;
  }

  .portafolio {
    margin-top: 12rem;
  }

  .portafolio .tarjeta .imagen__tarjeta img {
    height: 12rem;
  }

  .portafolio .tarjeta .imagen__tarjeta {
    height: 12rem;
  }

  .text__tarjeta h3 {
    font-size: 1.7rem;
  }

  .text__tarjeta .descripcion__tarjeta {
    font-size: 1.7rem;
  }

  .botones__juntos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .botones__juntos .enlace {
    width: 100%;
    margin: 1rem;
    text-align: center;
    padding-left: 3rem;
  }

  .tecnologias {
    margin-top: 38rem;
    height: 280vh;
  }

  .imagenes__tecnologias {
    grid-template-columns: repeat(1, 100%);
  }

  .cont__contacto {
    height: 120vh;
  }

  .contacto__personal {
    height: 70vh;
  }

  .ico__sect__name .name__ico {
    font-size: 1.2rem;
  }

  .port__sect{
    margin-top: 0;
  }
}

@media screen and (max-width: 260px) {
  header {
    height: 155vh;
  }

  .barra__nav .logo {
    font-size: 3rem;
  }

  .port__sect{
    margin-top: 0;
  }
}
